<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="run.js"></script>
<div class="container" style="margin-top:70px">
<button type="button" class="btn btn-primary" onclick="runningEasterEgg('resources/pika.gif')">Pikachu</button>
<button type="button" class="btn btn-primary" onclick="runningEasterEgg('resources/toad.gif')">Toad</button>
<button type="button" class="btn btn-primary" onclick="runningEasterEgg('resources/mario.gif')">Mario</button>
</div>